.lychee-lightbox {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 1;
	background-color: rgba(0,0,0,0.4);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#40000040, endColorstr=#40000040);
	z-index: 200;
}

.lychee-lightbox[id] {
	position: fixed;
}

.lychee-lightbox.hidden {
	top: -20000px;
	bottom: auto;
	opacity: 0;
}

.lychee-lightbox, .lychee-lightbox.hidden {
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

.lychee-lightbox header, .lychee-lightbox article {
	display: block;
	position: relative;
	width: 60%;
	margin: 5% auto 0px auto;
	padding: 10px 20px;
}

.lychee-lightbox header {
	margin-bottom: 0px;
	font-weight: bold;
	line-height: 24px;
	color: #fff;
 	background-color: #cd3333;
	background-image: -moz-linear-gradient(top, #cd3333 0%, #8b2323 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cd3333), color-stop(100%, #8b2323));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cd3333', endColorstr='#8b2323', GradientType=0);
	border-radius: 10px 10px 0 0;
}

.lychee-lightbox header > button {
	float: right;
}

.lychee-lightbox article {
	min-height: 5em;
	max-height: 80%;
	margin-top: 0px;
	padding-bottom: 15px;
	color: #333;
	background-color: #fff;
	background-image: -moz-linear-gradient(top, #ffffff 0%, #d0d0d0 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #d0d0d0));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d0d0d0', GradientType=0);
	border-radius: 0 0 10px 10px;
	overflow: auto;
}

.lychee-lightbox article h3 {
	color: #8b2323;
	border-bottom: 1px solid #8b2323;
}
  
